.paginaAnuncios {
  background-color: aqua;
}

.contenedor-anuncios {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.imagenes-anuncios {
  width: 100px;
}
.listado-anuncios {
  padding: 20px;
}

ul {
  list-style: none;
}

ul li {
  text-decoration: none;
}

.bloque-anuncio {
  background-color: rgba(245, 39, 39, 0.7);
  border-radius: 10px;
  padding: 10px;
}

.bloque-anuncio:hover {
  background-color: rgba(245, 39, 39, 0.6);
  border-radius: 10px;
  padding: 10px;
}
